[submodule "third_party/SFML"]
	path = third_party/SFML
	url = https://github.com/SFML/SFML.git
[submodule "third_party/GLFW"]
	path = third_party/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "third_party/freetype2"]
	path = third_party/freetype2
	url = https://github.com/aseprite/freetype2.git
[submodule "third_party/cmake_sdl"]
	path = third_party/cmake_sdl
	url = https://github.com/tcbrindle/sdl2-cmake-scripts.git
